.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid;
  border-radius: 20px;
  /* overflow: hidden; */
  position: relative;
  margin-left: auto;
  color: #00000080;
  box-sizing: border-box;
  
}
.toggle-switch:hover{
  color: black;
}

.toggle-switch__checkbox {
  opacity: 0;
}
.toggle-switch__fahrenheit {
  position: absolute;
  top: 4px;
  left: 8px;
  color: #00000080;
}
.toggle-switch__celsius {
  position: absolute;
  color: #00000080;
  top: 4px;
  right: 4.5px;
}
.toggle-switch__circle {
  position: absolute;
  background-color: black;
  
  width: 28px;
  height: 28px;
  border-radius: 20px;
  left: -1.8px;
  top: -2px;
  transition: all 0.2s;
  
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 26px;
}
.toggle-switch_text-color_white {
  color: white;
  transition: 0.2s;
}
