.card{
    width: 323px;
    position: relative;
    display: flex;
    justify-content: center;

}
.card__name{
    color: black;
    position: absolute;
    top:15px;
    margin: 0;
    


}
.card__image{
    border-radius: 12px;
    width: 100%;
}