.footer{
    position: absolute;
    bottom: 24px; /* 24px from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the footer horizontally */
    max-width: 1360px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Spread items across the full width */
    align-items: center; /* Vertically center the content */
    padding: 10px;
    color: black;

}
.footer__text{
    margin: 0;
}
.footer__date{
    margin: 0;
}