.login_modal-button {
  position: absolute;
  background: none;
  bottom: 44px;
  left: 118px;
  border: none;
  opacity: 50%;
}
.login_modal-button:hover {
  opacity: 100%;
}

.login__modal-content {
  height: 304px;
}
.login__modal-submit-btn {
  max-width: 78px;
}
